

#p_baslik1 {

color: blue;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-size: 30px;
}

body {

    background-color: burlywood;
    text-align: center;
   
}

#ust_formul1 {


    border-style: solid;
    opacity: 0.2;
    
}

#ust_formul1:hover {
    opacity: 1;
}

#container {

    text-align: center;
}

#button_button1_id:hover {

    background-color:chocolate;
}


#button_button2_id:hover {

background-color: cadetblue;

}